

    <!-- <div class="left-margin">

    </div> -->
<main class="find-setup-main-container">
    <div class="background-container">
      <div class="find-setup-header">
          what is this?
      </div>
      <div class="find-setup-2header">
      </div>
        <div class="picking-content-wrapper">


            <div class="picking-left">
                <h2 class="search-text">What are you waiting for?</h1>
              <h3 class="search-text">Find a meetup and play basketball!</h2>
                <fieldset>
                    <legend class="search-legend">Search Details</legend>
                    <label for="">
                    Enter Zipcode:
                  <input type="text" name="zipcode">
                </label><br />
                    <label for="">
                    Search within (miles):
                  <select name="miles">
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                  </select></label><br />
                    <label for="">What day do you want to play on?</label>
                    <input type="date"><br />

                    <div class="search-button-container">
                      <button type="button" ui-sref="findgame">Search</button>
                    </div>

                </fieldset>
            </div>

            <div class="picking-right">
              <h2>Start your own Meet Up!</h2>
            </div>
            <!-- <button type="button" ui-sref="home">Home</button>
          <button type="button" name="find" ui-sref="findgame">Find Game</button>
          <button type="button" name="setup" ui-sref="setupgame">Set Up Game</button> -->
        </div>




    </div>
</main>
    <!-- <div class="right-margin">

    </div> -->
