<main>
    <header>

        <div class="fg-header">
            <div>
                <label>Name</label>
                <input class="form-control" type="text" />
            </div>

            <div>
                <label>Date</label>
                <input class="form-control" type="text" />
            </div>

            <div>
                <label>Time</label>
                <input class="form-control" type="text" />
            </div>
            <div>
                <label>Location</label>
                <input class="form-control" type="text" />
            </div>

            <button class="btn btn-success">
							Submit
						</button>
            <button class="btn btn-danger">
							Cancel
						</button>
        </div>
    </header>

    <div>
      <input ng-model="searchText" type="text" class="form-control search-meetup" placeholder="Search meetup...">
        <table class="table">
          <tr id="he">
            <td colspan="4"><h1>Basketball Meetups</h1></td>
          </tr>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>

            <tr ng-repeat="x in meetup | orderBy: 'date' | filter: searchText">
                <td>{{x.name}}</td>
                <td>{{x.date}}</td>
                <td>{{x.time}}</td>
                <td>{{x.location}}</td>
            </tr>
        </table>
    </div>
</main>
