<!-- <div class="left-margin">

    </div> -->
<main class="find-setup-main-container">
    <div class="background-container">
        <div class="find-setup-header">
            <img height="100px" width="100px" style="cursor: pointer" src="http://www.mcsportsadvantage.com/Generic%20Images%20Website%20Basketball_files/Basketball%20Grunge%20Logo%20White.jpg" ui-sref="home" />
        </div>
        <div class="find-setup-2header">

        </div>

        <div class="picking-content-wrapper">

            <div class="picking-left">

                <form class="op">
                    <h2 class="setup-text">Setup A Meetup</h1>
                <h3 class="search-text"></h2>
                    <div id="ps">
                        <label style="padding-right: 3px">Name</label>
                        <input ng-model="newMeetup.name" class="input-l" type="text" placeholder="First Last" />
                    </div>

                    <div id="ps">
                        <label style="padding-right: 11px">Date</label>
                        <input ng-model="newMeetup.date" class="input-l" type="text" placeholder="mm/dd/yyyy" />
                    </div>

                    <div id="ps">
                        <label style="padding-right: 9px">Time</label>
                        <input ng-model="newMeetup.time" class="input-l" type="text" placeholder="00:00 am/pm" />
                    </div>
                    <div id="ps">
                        <label>Where</label>
                        <input ng-model="newMeetup.location" class="input-l" type="text" placeholder="Address, City" />
                    </div>

                    <button ng-click="addMeetup( newMeetup )" id="btn1-add" ui-sref="findgame">
        							Submit
        						</button>
                    <button id="btn1-cancel" type="reset" value="Reset">
        							Cancel
        						</button>
                </form>
            </div>

            <div class="picking-right">

                <h2 class="find-text">Find A Meetup</h2>

                <img height="200px" style="padding-left: 50px"src="http://g01.a.alicdn.com/kf/HTB1yHroJFXXXXc4XFXXq6xXFXXXk.jpg" alt="" />

                <button id="findG-button" type="button" name="find" ui-sref="findgame">Find Game</button>
            </div>



        </div>


        <div id="footer">

          <div class="footer-gray">

          </div>
          <div class="footer-black">
          </div>
        </div>

    </div>

</main>
