<main>
    <header>

        <div>
            <div>
                <label>Name</label>
                <input class="form-control" type="text" />
            </div>

            <div>
                <label>Date</label>
                <input class="form-control" type="text" />
            </div>

            <div>
                <label>Time</label>
                <input class="form-control" type="text" />
            </div>
            <div>
                <label>Location</label>
                <input class="form-control" type="text" />
            </div>

            <button class="btn btn-success">
							Submit
						</button>
            <button class="btn btn-danger">
							Cancel
						</button>
        </div>
    </header>

    <div>
        <table class="table">
          <tr>
            <td colspan="4"><h1>Basketball Meetups</h1></td>
          </tr>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            <tr ng-repeat="data in meetup">
                <td>{{meetup.name}}</td>
                <td>{{meetup.date}}</td>
                <td>{{meetup.time}}</td>
                <td>{{meetup.location}}</td>
            </tr>
        </table>
    </div>
</main>
