<main id="main-findgame" class="main-size">
  <img height="100px" width="100px" style="cursor: pointer" id="logo"src="https://www.mcsportsadvantage.com/Generic%20Images%20Website%20Basketball_files/Basketball%20Grunge%20Logo%20White.jpg" ui-sref="home" />
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form class="open-add-meetup">
            <div id="pop-divs">
                <label id="label" style="padding-right: 3px">Name</label>
                <input ng-model="newMeetup.name" class="form-control1" type="text" placeholder="First Last" />
            </div>

            <div id="pop-divs">
                <label id="label" style="padding-right: 11px">Date</label>
                <input ng-model="newMeetup.date" class="form-control1" type="text" placeholder="mm/dd/yyyy"/>
            </div>

            <div id="pop-divs">
                <label id="label" style="padding-right: 9px" >Time</label>
                <input ng-model="newMeetup.time" class="form-control1" type="text" placeholder="00:00 am/pm"/>
            </div>
            <div id="pop-divs">
                <label id="label" >Where</label>
                <input ng-model="newMeetup.location" class="form-control1" type="text" placeholder="Address, City" />
            </div>

            <button ng-click="addMeetup( newMeetup )" id="btn-add">
							Submit
						</button>
            <button id="btn-cancel" type="reset" value="Reset">
							Cancel
						</button>
        </form>
    </div>

    <!-- Use any element to open the sidenav -->
    <button class="open-close" style="cursor: pointer" onclick="openNav()">&#9776; Add MeetUp</button>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

      <div class="meetups-table">
          <input ng-model="searchText" type="text" class="form-table1 search-meetup" placeholder="Search meetup...">
          <div class="div-size">
              <table class="table">
                  <tr id="tr-background">
                      <td colspan="4">
                          <h1 id="h1-meetups">Basketball Meetups</h1></td>
                  </tr>
                  <tr>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Location</th>
                  </tr>

                  <tr ng-repeat="x in meetup | filter: searchText">
                      <td>{{x.name}}</td>
                      <td>{{x.date}}</td>
                      <td>{{x.time}}</td>
                      <td>{{x.location}}</td>
                  </tr>
              </table>
          </div>
      </div>

    </div>

</main>
