.table{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  opacity: 0.95;
  text-align: center
}
td{
  border: 1px solid black;
  border-collapse: collapse;
  opacity: 0.95;
  padding: 10px;
  text-align: center;
}
th{
  border: 1px solid black;
  border-collapse: collapse;
  opacity: 0.95;
  padding: 10px;
  text-align: center;
  background-color: #a70000;

}
tr:nth-child(even){
  background-color: white;
}
tr:nth-child(odd){
  background-color: #e8e8e8;
}
/*.set-meetups{
  background-color: grey;
  width: 100px;
  height: 400px;
}*/
/*.findgame-message-container{
  background-color: #0a3665;
  height: 100vh;
  width: 30%;
  float: left;
}
.findgame-right-container{
  background-color: #0066ae;
  height: 100hv;
  width: 70%;
  float: right;

}
.meetups{
  width:70%;
  height: 800px;
  background-color: red;

}*/
