
.open-close {
  width: 100px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 5px 3px;
  border: 2px solid #fff;
  background-color: white;
  color: black;
  opacity: .90;
  border-radius: 4px;
  font-size: 12px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #404040; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 8%; /* Place content 60px from the top */
    transition: .8s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .8s;
    padding: 15px 0 0 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*--------------------------------------------------------------------*/
#main-findgame {

    background: url("http://wfiles.brothersoft.com/m/Michael%20Jordan_31282-1280x800.jpg")no-repeat center;
    background-size: cover;
}
#logo{
  float: right;
  top: 20px;
}
.main-size{
  width: 100%;
  height: 100vh;
}
.open-add-meetup{
    width: 100%;
    padding-top: 30px;
    background-color: #282828;
    box-sizing: border-box;
    opacity: .90;
    height: 500px;
}
#btn-add{
    margin: 180px 10px 0 25px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    display: inline-block;
}
#btn-cancel{
    width: 100px;
    margin-top: 180px;
    margin-left: 260px;
    height: 40px;
    border-radius: 4px;
}
#pop-divs{
    margin: 15px 0 0 15px;
}
#label{
  color: white;
}

#tr-background {
    background-color: #404040;
}

.form-control1 {

    height: 25px;
    width: 80%;
    margin: 8px;
    font-size: 18px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-table1 {
    width: 100%;
    height: 30px;
    margin: 0 0 10px 0;
    padding: 8px;
    font-size: 16px;
    opacity: .85;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.div-size{
  height: 550px;
  overflow: scroll;
  margin: 0;
  border-radius: 3px;
}

.meetups-table {
    width: 75%;
    margin: 15px auto;
}

.table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.85;
    text-align: center;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
    padding: 16px;
    text-align: center;
}

#h1-meetups {
    color: white;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #282828;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #e8e8e8;
}
